menu "BarnaNetLibrary Menu"

	menu "TCP server"
		config B_TCP_PORT
			int "Server PORT"
			default 2005
			range 1 65535
			help
				The port number the TCP server binds to on all available interfaces
	endmenu

	menu "Alarm"
		config B_ALARM_CONTAINER_CAPACITY
			int "Alarm container capacity"
			default 10
			range 5 20
			help
				The maximum storable alarm count
	endmenu

endmenu
 